<html>
  <head>
    <title>Full Cycle Rocks!</title>
  </head>
  <body>
    <h1>Full Cycle Rocks!</h1>
    <ul>
      <% people.forEach(person => { %>
        <li><%= person.name %></li>
      <% }); %>
    </ul>
  </body>
</html>
